mat-sidenav {
  background-color: #0f172b;
  width: 230px;
  height: 100%;
}
.pointer {
  cursor: pointer;
}
@media  (max-width: 1600px) {
  .main {
    margin-left: 0 auto;
  }
}
mat-sidenav-content {
  height: 100vh;
 
}
mat-toolbar {
  .mat-icon {
    margin-left: 15px;
    color: gray;
  }
  justify-content: space-between;
  .box {
    margin-top: 15px;
  }
}
