.example-form {
  min-width: 150px;

  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-grid-tile {
  background: white;
  color: black;
}
.stats-cards {
  .mat-card {
    overflow: hidden;
    padding-top: 10px;
  }
 
}
button{
  padding-top: 10px;
  margin-top: 10px;
  width: 100%;
}